@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter'), url(./assets/fonts/Inter_18pt-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Semibold';
  src: local('Inter-Semibold'), url(./assets/fonts/Inter_18pt-SemiBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src: local('Inter-Bold'), url(./assets/fonts/Inter_18pt-Bold.ttf) format('truetype');
  font-display: swap;
}
